.word, .letter{
    display: inline-block;
    //  fix for poor ios performance 
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.word{ 
    margin-right: 8px;
}