:host{
    display: block;
    overflow: hidden;
    height: 100%;
}
.fp-container{
  display: flex;
  flex-direction: column;
  // position: relative;
  touch-action: none;
  transition: all 1000ms ease;
  // height: 100%;
}
