<button (click)="title = 'test'">Change content value</button>

<teximate [content]="title">
<!--  <h1 teximateContent>Hello World</h1>-->
</teximate>

<!--
    <div class="logo">
  <mat-icon [svgIcon]="'logo'"></mat-icon>
  <p>
    <b>ngx-teximate</b>
  </p>
</div>

<div class="container">

  <div class="preview">
    <h1>
      <teximate #teximate
                (play)="onAnimationPlay()"
                (finish)="onAnimationFinish()">
        <div *ngIf="show"
              teximateContent
              [animation]="animation"
              [animationDelay]="50">
          {{text}} test
        </div>
      </teximate>
      <button (click)="show=!show">test</button>
    </h1>
  </div>

  <div class="editor">
    <div>
      <mat-form-field>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="4"
                  [(ngModel)]="text"></textarea>
      </mat-form-field>
      <button mat-button color="danger" (click)="toggleTeximate = !toggleTeximate">{{toggleTeximate ? 'OFF' : 'ON'}}</button>
    </div>

    <div class="events">
      <mat-chip-list>
        <mat-chip [class.changed]="startClass | async" disabled>(Play)</mat-chip>
        <mat-chip [class.changed]="doneClass | async" disabled>(Finish)</mat-chip>
        <mat-chip [selected]="teximate.isPlaying" color="accent" disabled>teximate.isPlaying</mat-chip>
      </mat-chip-list>
    </div>
  </div>

</div>

<app-github-repo></app-github-repo>

<app-animation-form [isPlaying]="teximate?.isPlaying" (value)="onAnimationValue($event)" (play)="play($event)">
</app-animation-form>

 -->
