<div class="container">

  <h1>
    <teximate #teximate
              [text]="text"
              [enterAnimation]="enterAnimation"
              [leaveAnimation]="leaveAnimation"
              (start)="onAnimationStart($event)"
              (done)="onAnimationDone($event)">
    </teximate>
  </h1>

  <div>
    <mat-form-field>
      <textarea matInput [(ngModel)]="text"></textarea>
    </mat-form-field>
  </div>

  <div class="events">
    <mat-chip-list>
      <mat-chip [class.changed]="startClass | async" disabled>(Start)="{{animationStart}}"</mat-chip>
      <mat-chip [class.changed]="doneClass | async" disabled>(Done)="{{animationDone}}"</mat-chip>
      <mat-chip [selected]="teximate.isPlaying" disabled>isPlaying: {{teximate.isPlaying}}</mat-chip>
    </mat-chip-list>
  </div>

  <!--<div class="buttons">-->
    <!--<button mat-button (click)="play()">Play</button>-->
  <!--</div>-->

  <app-animation-form (value)="onAnimationValue($event)"></app-animation-form>
</div>
