:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: white;

  position: fixed;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 1em;
}

.demo{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

h1{
    margin-left: 2em;
    // max-width: 700px;
}

.test-container{
    position: fixed;
    left: 1em;
    top: 1em;

    button{
        font-size: 1.5em;
        font-weight: bold;
    }
}

$cmpBg: #111111;
$cmpColor:#2C7CD1;
$inputName:#EAFDA1;
$inputColor: white;
$inputBg: #111111;

.component-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.component{
  margin-bottom: .8em;
  display: flex;
  flex-wrap: wrap;
  background-color: $cmpBg;
  color: $inputName;
  padding: .8em;
  font-family: monospace;

  .tag-name,.input-name, .input-wrapper, .input, input{
    padding: 0;
  }

  .tag-name{
    color: $cmpColor;
    line-height: 2em;
    font-weight: bold;
  }

  .input-name{
    color: $inputName;
    
    &:before{
      content: "[";
      color: $inputName;
    }
    &:after{
      content: "]";
      color: $inputName;
    }
  }
  .input-wrapper{
    margin: 3px;
  }
  .input{
    color:$inputColor;
    &:before{
      content: '"';
    }
    &:after{
      content: '"';
    }

    span{
      color: $inputColor;
      font-style: normal;
    }
    input, select{
      color: $inputColor;
      border:0;
      font-family: monospace;
      outline: 0;
      background-color: $inputBg;

    }
  }
}

.container{
  max-width: 700px;
  margin: 0 auto;
}