:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    position: fixed;
    left: 1em;
    right: 1em;
    top: 1em;
    bottom: 1em;
}

h1{
    margin-left: 2em;
    // max-width: 700px;
}

.test-container{
    position: fixed;
    left: 1em;
    bottom: 1em;

    button{
        font-size: 1.5em;
        font-weight: bold;
    }
}