<!--<h1 
[teximate]="text"
[tmType]="'word'" 
[tmInterval]="50"
[tmIn]="{ class: 'lightSpeedIn', method: 'shuffle'}"
></h1>-->

<h1>
    <teximate #teximate [text]="text" [effect]="options">
    </teximate>
</h1>

<!--<h1>
    <teximate [text]="anotherText" [effect]="options">
    </teximate>
</h1>-->

<!--<h1 
[teximate]="anotherText"
[tmType]="'word'" 
[tmInterval]="50"
[tmRun]="run"
[tmIn]="{ class: 'lightSpeedIn', method: 'shuffle'}"
></h1>

<h1
[teximate]="'Hello World'"
[tmType]="'word'" 
[tmInterval]="50"
[tmRun]="run"
[tmIn]="{ class: 'lightSpeedIn', method: 'shuffle'}"></h1>-->

<!--<h1>{{text}}</h1>-->
<!--<h1 
[teximate]="text"
></h1>-->
<div class="test-container">
    <button (click)="test1()">Change text</button>
    <button (click)="test2()">Exit Effect</button>
    <button (click)="test3()">Effect</button>
</div>