<div class="demo container">
  <h2>
    <teximate [text]="text" [effect]="options" [hover]="hover"></teximate>
  </h2>
</div>

<div class="component-outer container">
  <div class="component">
    <i class="tag-name" [textContent]="'<teximate '"></i>

    <!-- Text Input -->

    <span class="input-wrapper input-center">
      <span class="input-name">text</span> =
      <i class="input">
        <input class="text-input" [(ngModel)]="text">
      </i>
    </span>

    <!-- Effect Input -->

    <span class="input-wrapper">

      <span class="input-name">effect</span> =
      <i class="input">
        <i class="input-object" [textContent]="'{'"></i>

        <!-- Type Input -->
        <p>
         <i class="inline-space"></i>
         <i class="input-object" [textContent]="'type: '"></i>
            <select [ngModel]="options.type" (ngModelChange)="updateAnimationType($event)">
              <option *ngFor="let p of texiTypes" [ngValue]="p">{{p}}</option>
            </select>
          <i class="input-object" [textContent]="'},'"></i>
        </p>

        <!-- Animation Input -->
         <p>
         <i class="inline-space"></i>
         <i class="input-object" [textContent]="'animation: { name: '"></i>
           <!-- Animation Name -->
          <select [ngModel]="options.animation.name" (ngModelChange)="updateAnimationClass($event)">
            <option *ngFor="let p of animateCss" [ngValue]="p">{{p}}</option>
          </select>

          <i class="input-object" [textContent]="', duration: '"></i>
           <!-- Animation Duration -->
          <input [ngModel]="options.animation.duration" (ngModelChange)="updateAnimationDuration($event)">
          <i class="input-object" [textContent]="'},'"></i>
         </p>

        <!-- Word Input -->
          <p>
          <i class="inline-space"></i>
          <i class="input-object" [textContent]="'word: { type: '"></i>
            <!-- Word Order Type -->
          <select [ngModel]="options.word.type" (ngModelChange)="updateWordType($event)">
            <option *ngFor="let p of texiOrders" [ngValue]="p">{{p}}</option>
          </select>

          <i class="input-object" [textContent]="', delay: '"></i>
            <!-- Word Delay -->
            <input [ngModel]="options.word.delay" (ngModelChange)="updateWordDelay($event)">
          <i class="input-object" [textContent]="'},'"></i>
          </p>

        <!--Letter Input -->
          <p [class.disabled]="options.type !== 'letter'">
          <i class="inline-space"></i>

          <i class="input-object" [textContent]="'letter: { type: '"></i>
            <!-- Letter Order Type -->
          <select [ngModel]="options.letter.type" (ngModelChange)="updateLetterType($event)"
                  [disabled]="options.type !== 'letter'">
            <option *ngFor="let p of texiOrders" [ngValue]="p">{{p}}</option>
          </select>

          <i class="input-object" [textContent]="', delay: '"></i>
            <!-- Letter Delay -->
          <input [ngModel]="options.letter.delay" (ngModelChange)="updateLetterDelay($event)"
                 [disabled]="options.type !== 'letter'">
          <i class="input-object" [textContent]="'}'"></i>
          </p>

          <i class="inline-space" style="width: 10px"></i>
          <i class="input-object" [textContent]="'}'"></i>
      </i>
    </span>

    <!-- Hover Input -->

    <span class="input-wrapper">

      <span class="input-name">hover</span> =
      <i class="input">
        <i class="input-object" [textContent]="'{'"></i>

        <!-- Type Input -->
        <p>
         <i class="inline-space"></i>
         <i class="input-object" [textContent]="'type: '"></i>
            <select [ngModel]="hover.type" (ngModelChange)="updateHoverType($event)">
              <option *ngFor="let p of hoverTypes" [ngValue]="p">{{p}}</option>
            </select>
          <i class="input-object" [textContent]="'},'"></i>
        </p>

        <!-- Animation Input -->
         <p [class.disabled]="hover.type === 'off'">
         <i class="inline-space"></i>
         <i class="input-object" [textContent]="'in: '"></i>

          <select [ngModel]="hover.in" (ngModelChange)="updateHoverIn($event)"
                  [disabled]="hover.type === 'off'">
            <option *ngFor="let p of animateCss" [ngValue]="p">{{p}}</option>
          </select>

          <i class="input-object" [textContent]="'},'"></i>
         </p>

        <!-- Animation Input -->
         <p [class.disabled]="hover.type === 'off'">
         <i class="inline-space"></i>
         <i class="input-object" [textContent]="'out: '"></i>

          <select [ngModel]="hover.out" (ngModelChange)="updateHoverOut($event)"
                  [disabled]="hover.type === 'off'">
            <option *ngFor="let p of animateCss" [ngValue]="p">{{p}}</option>
          </select>

          <i class="input-object" [textContent]="'}'"></i>
          </p>

          <i class="inline-space" style="width: 10px"></i>
          <i class="input-object" [textContent]="'}'"></i>
      </i>

    </span>

    <i class="tag-name" style="margin-top: 70px;" [textContent]="' ></teximate>'"></i>
  </div>
</div>
