<div class="demo container">
    <h1>
        <teximate #teximate [text]="text" [type]="type" [inEffect]="options"></teximate>
    </h1>
</div>

<div class="component-outer container">
    <div class="component">
        <i class="tag-name" [textContent]="'<teximate '"></i>

        <!-- Text Input -->

        <span class="input-wrapper">
      <span class="input-name">text</span> =
        <i class="input">
        <input class="text-input" [(ngModel)]="text">
      </i>
        </span>

        <!-- Type Input -->

        <span class="input-wrapper">
       <span class="input-name">type</span> =
        <i class="input">
        <select [(ngModel)]="type">
          <option *ngFor="let p of optionsTypes" [ngValue]="p">{{p}}</option>
        </select>
      </i>
        </span>

        <!-- Animation Input -->

        <span class="input-wrapper">
          <span class="input-name">animation</span> =
            <i class="input">

              <i class="input-object" [textContent]="'{ name: '"></i>
              <!-- Animation Name -->
              <select [ngModel]="options.animation.name" (ngModelChange)="updateAnimationClass($event)">
                <option *ngFor="let p of animateCss" [ngValue]="p">{{p}}</option>
              </select>

              <!-- Animation Duration -->
              <i class="input-object" [textContent]="', duration: '"></i>
              <input [ngModel]="options.animation.duration" (ngModelChange)="updateAnimationDuration($event)">
              <i class="input-object" [textContent]="'}'"></i>
            </i>
        </span>

        <!-- Word Input -->

        <span class="input-wrapper">
          <span class="input-name">word</span> =
          <i class="input">
            <!-- Word Type -->
            <i class="input-object" [textContent]="'{ type: '"></i>

            <select [ngModel]="options.word.type" (ngModelChange)="updateWordType($event)">
              <option *ngFor="let p of workType" [ngValue]="p">{{p}}</option>
            </select>

            <!-- Word Delay -->
            <i class="input-object" [textContent]="', delay: '"></i>
            <input [ngModel]="options.word.delay" (ngModelChange)="updateWordDelay($event)">
            <i class="input-object" [textContent]="'}'"></i>
          </i>
        </span>

        <!-- Letter Input -->

        <span class="input-wrapper">
          <span class="input-name">letter</span> =
            <i class="input">
              <!-- Letter Type -->
              <i class="input-object" [textContent]="'{ type: '"></i>
              <select [ngModel]="options.letter.type" (ngModelChange)="updateLetterType($event)">
                <option *ngFor="let p of workType" [ngValue]="p">{{p}}</option>
              </select>

              <!-- Letter Delay -->
              <i class="input-object" [textContent]="', delay: '"></i>
              <input [ngModel]="options.letter.delay" (ngModelChange)="updateLetterDelay($event)">
              <i class="input-object" [textContent]="'}'"></i>
            </i>
          </span>

        <i class="tag-name" [textContent]="' ></teximate>'"></i>
    </div>
</div>
