<mat-card>

  <form [formGroup]="form">
    <div>
      <h4>Event</h4>
      <mat-button-toggle-group formControlName="id" aria-label="Animation Toggle" color="primary">
        <mat-button-toggle value="enter">Enter</mat-button-toggle>
        <mat-button-toggle value="leave">Leave</mat-button-toggle>
        <mat-button-toggle value="default">Default</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <h4>Animation</h4>
      <mat-form-field>
        <mat-select formControlName="animation">
          <mat-option *ngFor="let animation of enterAnimations" [value]="animation.value">
            {{animation.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <h4>Type</h4>
      <mat-button-toggle-group formControlName="type">
        <mat-button-toggle value="paragraph">Paragraph</mat-button-toggle>
        <mat-button-toggle value="word">Word</mat-button-toggle>
        <mat-button-toggle value="letter">Letter</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <h4>Delay (ms)</h4>
      <mat-slider formControlName="delay" [step]="50" [min]="-1000" [max]="1000" [thumbLabel]="true"></mat-slider>
    </div>
  </form>

</mat-card>
